<header class="sidebar-header">
   
    
</header>


<ul class="nav sidebar-menu">
 
    <li class="active">
        <a routerLink='/home/tasks/allTasks'>
        <span class="sidebar-title">To do List</span>
        <span class="sb-menu-icon fa fa-home"></span>
        </a>
        </li>
        <li class="active">
            <a routerLink='/home/tasks/addTask'>
            <span class="sidebar-title">Add Task</span>
            <span class="sb-menu-icon fa fa-home"></span>
            </a>
            </li>
   
 

  
 
   
 
  
  </ul>


 
 

